.footer-comp {
  padding: 30px;
  background-color: var(--main-color);
  * {
    color: var(--background-color);
  }
  .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 2%;
    > div {
      width: 23.5%;
      .title {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
      }
    }
    .about-us {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .logo {
        font-size: 40px;
        font-weight: bold;
        text-transform: capitalize;
        font-family: "Agbalumo", sans-serif;
      }
      .FeatureTile-comp {
        gap: 10px;
        border: none;
        .image {
          background-color: var(--secondary-color);
          border-radius: 50%;
          display: grid;
          place-items: center;
        }
        .description {
          border: none;
          p {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
    .other-links {
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        list-style-type: none;
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 3px;
          img {
            width: 20px;
          }
        }
      }
    }
    .our-services {
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          img {
            width: 20px;
          }
        }
      }
    }
    .contact-us {
      display: flex;
      flex-direction: column;
      > div {
        margin-bottom: 15px;
      }
      .FeatureTile-comp {
        gap: 10px;
        border: none;
        .image {
          background-color: var(--secondary-color);
          border-radius: 50%;
          display: grid;
          place-items: center;
        }
        .description {
          border: none;
          p {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .footer-comp {
    padding: 30px;
    background-color: var(--main-color);
    * {
      color: var(--background-color);
    }
    .container {
      flex-direction: column;
      align-items: flex-start;
      gap: 2%;
      > div {
        width: 23.5%;
        .title {
          font-weight: bold;
          font-size: 30px;
          text-align: center;
          margin-bottom: 30px;
        }
      }
      .about-us {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 100%;
        .FeatureTile-comp {
          flex-direction: column;
        }
      }
      .other-links {
        width: 100%;
        ul {
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
      .our-services {
        width: 100%;
        ul {
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
      .contact-us {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        p {
          width: 100%;
        }
        .flex-2 {
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          > div {
            margin-bottom: 15px;
          }
          .FeatureTile-comp {
            flex-direction: column;
          }
        }
      }
    }
  }
}
