.header {
  * {
    color: var(--background-color);
  }
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.52),
      var(--secondary-color)
    ),
    url("../../images//dentalCare1.jpg");
  //   background-position: center, top left;
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    height: 100%;
    display: grid;
    place-items: center;
    justify-content: start;
    align-content: center;
    align-items: center;
    justify-items: start;
    p {
      margin: 20px 0px;
      width: 40%;
    }
    button {
      background-color: var(--secondary-color);
      padding: 12px 6px;
      transition: color 0.3s;
      &:hover {
        color: var(--main-color);
      }
    }
  }
}
