.navbar-comp {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
  .container {
    ul {
      .mobile-options {
        display: none;
      }
      * {
        color: white;
      }
      .logo {
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;
        font-family: "Agbalumo", sans-serif;
      }
      ul {
        gap: 20px;
        > a {
          text-transform: capitalize;
          padding: 2px;
          text-decoration: none;
          position: relative;
          padding: 10px 0px;
          &::before {
            content: "";
            position: absolute;
            width: 0%;
            bottom: 10px;
            left: 0px;
            height: 2px;
            background-color: var(--background-color);
            transition: width 0.4s ease-in;
          }
          &:hover {
            &::before {
              width: 100%;
            }
          }
          ul {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            transition: opacity 0.3s;
            width: max-content;
            background: var(--main-color);
            padding: 8px;
            left: 0px;
            top: calc(100%);
            padding: 8px;
            a {
              padding: 2px;
              &::before {
                bottom: 0px;
              }
            }
          }
          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
        a {
          color: var(--main-color);
          border: none;
          padding: 8px 4px;
          border-radius: 4px;
          font-weight: bold;
          background-color: var(--background-color);
          text-decoration: none;
        }
        .languages {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .navbar-comp {
    background-color: var(--main-color);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99;
    .container {
      ul {
        flex-direction: row;
        position: relative;
        * {
          color: white;
        }
        .logo {
          font-size: 30px;
          font-weight: bold;
          text-transform: capitalize;
          font-family: "Agbalumo", sans-serif;
        }
        ul {
          gap: 20px;
          flex-direction: column;
          visibility: hidden;
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translate(-50%, -3%);
          background-color: var(--main-color);
          width: 70%;
          transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
            visibility 0.3s ease-in-out;
          border-radius: 20px;
          opacity: 0;
          &.visible {
            opacity: 1;
            transform: translate(-50%, 0%);
            visibility: visible;
          }
          > a {
            text-transform: capitalize;
            padding: 2px;
            text-decoration: none;
            position: relative;
            padding: 10px 10px;
            &::before {
              content: "";
              position: absolute;
              width: 0%;
              bottom: 10px;
              left: 0px;
              height: 2px;
              background-color: var(--background-color);
              transition: width 0.4s ease-in;
            }
            &:hover {
              &::before {
                width: 100%;
              }
            }
            ul {
              opacity: 0;
              visibility: hidden;
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              transition: opacity 0.3s;
              width: max-content;
              background: var(--main-color);
              padding: 8px;
              left: 0px;
              top: calc(100%);
              padding: 8px;
              a {
                padding: 2px;
                &::before {
                  bottom: 0px;
                }
              }
            }
            &:hover {
              ul {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
        > div {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          gap: 20px;
          position: relative;
          a {
            color: var(--main-color);
            border: none;
            padding: 8px 4px;
            border-radius: 4px;
            font-weight: bold;
            background-color: var(--background-color);
            text-decoration: none;
          }
          .languages {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100px;
            // visibility: hidden;
            position: absolute;
            top: 100%;
            right: 0px;
            background-color: var(--main-color);
            flex-direction: column;
            border-radius: 20px;
            border-radius: 20px;
            opacity: 0;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
              visibility 0.3s ease-in-out;
            transform: translate(5%, 3%);
            &.visible {
              opacity: 1;
              transform: translate(0%, 3%);
              visibility: visible;
            }
            span {
              padding: 10px;
            }
          }
        }
        .mobile-options {
          display: block;
        }
      }
    }
  }
}
