.navbar-comp {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
  .container {
    ul {
      * {
        color: white;
      }
      .logo {
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;
        font-family: "Agbalumo", sans-serif;
      }
      ul {
        gap: 20px;
        > a {
          text-transform: capitalize;
          padding: 2px;
          text-decoration: none;
          position: relative;
          padding: 10px 0px;
          &::before {
            content: "";
            position: absolute;
            width: 0%;
            bottom: 10px;
            left: 0px;
            height: 2px;
            background-color: var(--background-color);
            transition: width 0.4s ease-in;
          }
          &:hover {
            &::before {
              width: 100%;
            }
          }
          ul {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            transition: opacity 0.3s;
            width: max-content;
            background: var(--main-color);
            padding: 8px;
            left: 0px;
            top: calc(100%);
            padding: 8px;
            a {
              padding: 2px;
              &::before {
                bottom: 0px;
              }
            }
          }
          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
        button {
          color: var(--main-color);
          border: none;
          padding: 8px 4px;
          border-radius: 4px;
          font-weight: bold;
        }
        .languages {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100px;
        }
      }
    }
  }
}
