.ServiceHeader-comp {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 20px;
  * {
    color: var(--main-color);
  }
  font-size: 20px;
  font-weight: bold;
}
