.container-faq {
    padding: 20px 30px;
}

.mt-5 {
    margin-top: 5rem;
}

/* Faq header */
.faq-header {
    background-image: linear-gradient(153deg, #2c3e50 60%, #98abbef2 40%);
    padding: 5rem 3rem;
}

.faq-header h1 {
    font-size: 4rem;
    color: white;
    letter-spacing: 2px;
    font-family: 'Roboto';
    font-weight: 500;
}

.faq-header p {
    padding: 20px 0;
    color: white;
}

.faq-header span {
    display: block;
    padding: 30px 0;
    font-size: 20px;
    color: rgb(233 232 232 / 50%);
}


/* Faq header */

/* Faq Feedback */
.feedback-form .container {
    width: 80% !important;
    max-width: 100%;
    min-width: auto;
}

/* Faq Feedback */