.combined-squares {
  .flex-2 {
    height: 350px;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }
    h2 {
      color: var(--main-color);
      font-size: 50px;
    }
    article {
      width: 50%;
      padding: 20px;
    }
    div {
      height: 100%;
      width: 50%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
.cards {
  margin: 50px 0px;
  .container {
    justify-content: center;
    gap: 50px;
  }
}
.why-us {
  .container {
    .flex-2 {
      gap: 30px;
      article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        > p {
          font-family: "Agbalumo", sans-serif;
          text-align: center;
          grid-column-start: 1;
          grid-column-end: 3;
          font-size: 30px;
        }
      }
    }
  }
}
