.combined-squares .flex-2 {
  height: 500px;
}
.combined-squares .flex-2:nth-child(2) {
  flex-direction: row-reverse;
}
.combined-squares .flex-2 h2 {
  color: var(--main-color);
  font-size: 50px;
}
.combined-squares .flex-2 article {
  width: 50%;
  padding: 20px;
}
.combined-squares .flex-2 div {
  height: 100%;
  width: 50%;
}
.combined-squares .flex-2 div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards {
  margin: 50px 0px;
}
.cards .container {
  justify-content: center;
  gap: 50px;
}

.why-us .container .flex-2 {
  gap: 30px;
}
.why-us .container .flex-2 > .image img {
  width: 450px;
}
.why-us .container .flex-2 article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.why-us .container .flex-2 article > p {
  font-family: "Agbalumo", sans-serif;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 30px;
}

.services > p {
  text-align: center;
  text-transform: capitalize;
}
.services > p:first-child {
  font-size: 55px;
  font-weight: bold;
}
.services .container {
  padding: 100px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 30px;
}
.services .container .FeatureTile-comp {
  padding: 12px;
  align-items: flex-start;
  border: 2px solid var(--main-color);
  transition: border-radius 0.3s linear, box-shadow 0.5s;
  box-shadow: 0px 0px 5px 0px transparent;
}
.services .container .FeatureTile-comp * {
  color: var(--main-color);
}
.services .container .FeatureTile-comp:hover {
  border-radius: 15px;
  border-color: var(--secondary-color);
  box-shadow: 0px 0px 5px 0px var(--secondary-color);
}
.services .container .FeatureTile-comp .description {
  border: none;
}
.services .container .FeatureTile-comp .description span {
  font-weight: bold;
  font-size: 30px;
}
.services .container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.testmonials {
  padding: 50px;
}
.testmonials header {
  margin-bottom: 150px;
  text-align: center;
}
.testmonials header span {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 20px;
}
.testmonials header p {
  font-size: 45px;
  font-weight: bold;
  color: var(--main-color);
}
.testmonials .container .slider {
  display: flex;
  gap: 80px;
}
.testmonials .container .slider .testmonialCard-comp {
  position: relative;
  box-shadow: 0px 0px 20px 5px lightgray;
  padding: 100px 20px 20px;
}
.testmonials .container .slider .testmonialCard-comp > img {
  position: absolute;
  top: 0px;
  left: 20px;
  transform: translateY(-50%);
  width: 150px;
  border: 2px solid gray;
}
.testmonials .container .slider .testmonialCard-comp .hash {
  position: absolute;
  right: 0%;
  top: -45%;
  font-size: 200px;
  font-weight: bold;
  color: rgba(52, 152, 219, 0.5);
  transform: rotate(10deg);
}
.testmonials .container .slider .testmonialCard-comp .content p {
  color: var(--main-color);
}
.testmonials .container .slider .testmonialCard-comp .content .doctor-name {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 30px;
}

@media (max-width: 1100px) {
  .combined-squares .flex-2 {
    height: 600px;
    align-items: flex-start;
  }
  .combined-squares .flex-2 h2 {
    font-size: 30px;
  }
  .combined-squares .flex-2 article {
    padding: 10px;
  }
  .services .container {
    padding: 30px 0px;
    grid-template-rows: 1fr;
    grid-template-columns: none;
  }
  .services .container > div {
    gap: 20px;
  }
  .services .container > img {
    display: block;
    margin: 0px auto;
  }
  .why-us .container .flex-2 {
    flex-direction: column;
    gap: 30px;
  }
  .why-us .container .flex-2 > .image img {
    width: 450px;
  }
  .why-us .container .flex-2 article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .why-us .container .flex-2 article > p {
    font-family: "Agbalumo", sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 30px;
  }
  .testmonials {
    padding: 50px;
  }
  .testmonials .container header {
    margin-bottom: 150px;
    text-align: center;
  }
  .testmonials .container header span {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 20px;
  }
  .testmonials .container header p {
    font-size: 45px;
    font-weight: bold;
    color: var(--main-color);
  }
  .testmonials .container .slider {
    display: flex;
    gap: 20px;
  }
  .testmonials .container .slider .testmonialCard-comp {
    position: relative;
    box-shadow: 0px 0px 20px 5px lightgray;
    padding: 100px 20px 20px;
  }
  .testmonials .container .slider .testmonialCard-comp > img {
    position: absolute;
    top: 0px;
    left: 20px;
    transform: translateY(-50%);
    width: 150px;
    border: 2px solid gray;
  }
  .testmonials .container .slider .testmonialCard-comp .hash {
    position: absolute;
    right: -5%;
    top: -45%;
    font-size: 200px;
    font-weight: bold;
    color: rgba(52, 152, 219, 0.5);
    transform: rotate(10deg);
  }
  .testmonials .container .slider .testmonialCard-comp .content p {
    color: var(--main-color);
  }
  .testmonials .container .slider .testmonialCard-comp .content .doctor-name {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 30px;
  }
}
@media (max-width: 950px) {
  .testmonials {
    padding: 50px;
    overflow: hidden;
  }
  .testmonials .container {
    overflow-x: scroll;
  }
  .testmonials .container .slider {
    display: flex;
    gap: 20px;
    width: -moz-max-content;
    width: max-content;
  }
  .testmonials .container .slider .testmonialCard-comp {
    position: relative;
    box-shadow: 0px 0px 20px 5px lightgray;
    padding: 100px 20px 20px;
    max-width: 350px;
    margin: 80px 0px 0px;
  }
  .testmonials .container .slider .testmonialCard-comp > img {
    position: absolute;
    top: 0px;
    left: 20px;
    transform: translateY(-50%);
    width: 150px;
    border: 2px solid gray;
  }
  .testmonials .container .slider .testmonialCard-comp .hash {
    position: absolute;
    right: 0%;
    top: -45%;
    font-size: 200px;
    font-weight: bold;
    color: rgba(52, 152, 219, 0.5);
    transform: rotate(10deg);
  }
  .testmonials .container .slider .testmonialCard-comp .content p {
    color: var(--main-color);
  }
  .testmonials .container .slider .testmonialCard-comp .content .doctor-name {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .services > p {
    text-align: center;
    text-transform: capitalize;
  }
  .services > p:first-child {
    font-size: 55px;
    font-weight: bold;
  }
  .services .container {
    grid-template-columns: 1fr;
    padding: 0px 10px;
  }
  .services .container .FeatureTile-comp {
    padding: 12px;
    border: 2px solid var(--main-color);
    border-radius: 2px;
    align-items: flex-start;
  }
  .services .container .FeatureTile-comp * {
    color: var(--main-color);
  }
  .services .container .FeatureTile-comp .description {
    border: none;
  }
  .services .container .FeatureTile-comp .description span {
    font-weight: bold;
    font-size: 30px;
  }
  .services .container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .services .container img {
    display: block;
    width: 100%;
  }
  .testmonials {
    padding: 50px;
    overflow: hidden;
  }
  .testmonials .container {
    overflow-x: scroll;
  }
  .testmonials .container .slider {
    display: flex;
    gap: 20px;
    width: -moz-max-content;
    width: max-content;
    padding: 20px 0px;
  }
  .testmonials .container .slider .testmonialCard-comp {
    position: relative;
    box-shadow: 0px 0px 20px 5px lightgray;
    padding: 100px 20px 20px;
    max-width: 300px;
    margin: 80px 0px 0px;
  }
  .testmonials .container .slider .testmonialCard-comp > img {
    position: absolute;
    top: 0px;
    left: 20px;
    transform: translateY(-50%);
    width: 150px;
    border: 2px solid gray;
  }
  .testmonials .container .slider .testmonialCard-comp .hash {
    position: absolute;
    right: 0%;
    top: -45%;
    font-size: 200px;
    font-weight: bold;
    color: rgba(52, 152, 219, 0.5);
    transform: rotate(10deg);
  }
  .testmonials .container .slider .testmonialCard-comp .content p {
    color: var(--main-color);
  }
  .testmonials .container .slider .testmonialCard-comp .content .doctor-name {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 30px;
  }
  .why-us .container .flex-2 article {
    display: flex;
    flex-direction: column;
  }
  .why-us .container .flex-2 article .FeatureTile-comp .image {
    padding: 10px;
  }
  .why-us .container .flex-2 article .FeatureTile-comp .image img {
    width: 40px;
  }
  .why-us .container .flex-2 .image img {
    display: block;
    width: 100%;
  }
  .combined-squares .flex-2 {
    height: auto;
    flex-direction: column;
  }
  .combined-squares .flex-2:nth-child(2) {
    flex-direction: column;
  }
  .combined-squares .flex-2 h2 {
    font-size: 25px;
  }
  .combined-squares .flex-2 article {
    width: 100%;
  }
  .combined-squares .flex-2 div {
    width: 100%;
  }
  .combined-squares .flex-2 div img {
    width: 100%;
  }
}/*# sourceMappingURL=homepage.css.map */