.combined-squares {
  .flex-2 {
    height: 500px;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }
    h2 {
      color: var(--main-color);
      font-size: 50px;
    }
    article {
      width: 50%;
      padding: 20px;
    }
    div {
      height: 100%;
      width: 50%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
.cards {
  margin: 50px 0px;
  .container {
    justify-content: center;
    gap: 50px;
  }
}
.why-us {
  .container {
    .flex-2 {
      gap: 30px;
      article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        > p {
          font-family: "Agbalumo", sans-serif;
          text-align: center;
          grid-column-start: 1;
          grid-column-end: 3;
          font-size: 30px;
        }
      }
    }
  }
}
.services {
  > p {
    text-align: center;
    text-transform: capitalize;
    &:first-child {
      font-size: 55px;
      font-weight: bold;
    }
  }
  .container {
    // background-color: red;
    padding: 100px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    .FeatureTile-comp {
      padding: 12px;
      * {
        color: var(--main-color);
      }
      border: 2px solid var(--main-color);
      border-radius: 2px;
      align-items: flex-start;
      .description {
        border: none;
        span {
          font-weight: bold;
          font-size: 30px;
        }
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 100px;
    }
  }
}
.testmonials {
  padding: 50px;
  .container {
    header {
      margin-bottom: 150px;
      text-align: center;
      span {
        color: var(--secondary-color);
        font-weight: bold;
        font-size: 20px;
      }
      p {
        font-size: 45px;
        font-weight: bold;
        color: var(--main-color);
      }
    }
    .slider {
      display: flex;
      gap: 80px;
      .testmonialCard-comp {
        position: relative;
        box-shadow: 0px 0px 20px 5px lightgray;
        padding: 100px 20px 20px;
        > img {
          position: absolute;
          top: 0px;
          left: 20px;
          transform: translateY(-50%);
          width: 150px;
          border: 2px solid gray;
        }
        .hash {
          position: absolute;
          right: 0%;
          top: -45%;
          font-size: 200px;
          font-weight: bold;
          color: rgba($color: #3498db, $alpha: 0.5);
          transform: rotate(10deg);
        }
        .content {
          p {
            color: var(--main-color);
          }
          .doctor-name {
            color: var(--secondary-color);
            font-weight: bold;
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .services {
    > p {
      text-align: center;
      text-transform: capitalize;
      &:first-child {
        font-size: 55px;
        font-weight: bold;
      }
    }
    .container {
      grid-template-columns: 1fr;
      padding: 0px 10px;
      .FeatureTile-comp {
        padding: 12px;
        * {
          color: var(--main-color);
        }
        border: 2px solid var(--main-color);
        border-radius: 2px;
        align-items: flex-start;
        .description {
          border: none;
          span {
            font-weight: bold;
            font-size: 30px;
          }
        }
      }
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
      }
      img {
        display: block;
        width: 100%;
      }
    }
  }
  .testmonials {
    padding: 0px;
    .container {
      header {
        margin-bottom: 75px;
        text-align: center;
        span {
          color: var(--secondary-color);
          font-weight: bold;
          font-size: 20px;
        }
        p {
          font-size: 45px;
          font-weight: bold;
          color: var(--main-color);
        }
      }
      .slider {
        display: flex;
        gap: 80px;
        flex-direction: column;
        .testmonialCard-comp {
          margin: 20px 0px;
          position: relative;
          box-shadow: 0px 0px 20px 5px lightgray;
          padding: 100px 20px 20px;
          > img {
            position: absolute;
            top: 0px;
            left: 20px;
            transform: translateY(-50%);
            width: 150px;
            border: 2px solid gray;
          }
          .hash {
            position: absolute;
            right: 5%;
            top: -45%;
            font-size: 200px;
            font-weight: bold;
            color: rgba($color: #3498db, $alpha: 0.5);
            transform: rotate(10deg);
          }
          .content {
            p {
              color: var(--main-color);
            }
            .doctor-name {
              color: var(--secondary-color);
              font-weight: bold;
              font-size: 30px;
            }
          }
        }
      }
    }
  }
  .why-us {
    .container {
      .flex-2 {
        .image {
          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
  .combined-squares {
    .flex-2 {
      height: auto;
      flex-direction: column;
      &:nth-child(2) {
        flex-direction: column;
      }
      h2 {
        font-size: 25px;
      }
      article {
        width: 100%;
      }
      div {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}
