.AlignmentTeeth-comp {
  margin-top: 44px;
  > .container {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 20px;
    padding: 0px 4px;
    main {
      section {
        margin: 50px 0px;
      }
    }
    .header {
      .container {
        gap: 50px;
        article {
          span {
            color: var(--secondary-color);
          }
          h1 {
            font-size: 35px;
          }
          p {
            color: var(--main-color);
          }
        }
        img {
          border-radius: 50%;
          width: 40%;
        }
      }
    }
    .service-display {
      .container {
        .img {
          width: 50%;
          > img {
            width: 100%;
            display: block;
            object-fit: cover;
          }
        }
        .services {
          height: 100%;
          padding: 20px;
          width: 50%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10%;

          .service {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-bottom: 1px dashed var(--secondary-color);
            p {
              width: min-content;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .further-details {
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        .forms {
          .files {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-evenly;
          }
          .file {
            a {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 2px solid var(--main-color);
              padding: 4px;
              margin: 2px 0px;
              text-decoration: none;
              font-weight: bold;
              img {
                width: 20px;
              }
            }
          }
        }
        .insurance-details,
        .payment-method,
        .forms {
          > span {
            font-size: larger;
            color: var(--secondary-color);
            text-transform: uppercase;
          }
        }
      }
    }
    .why-us {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      .title {
        font-size: 30px;
        font-weight: bold;
      }
      p {
        width: 80%;
      }
      button {
        padding: 8px 16px;
        font-size: larger;
        background-color: var(--secondary-color);
        color: white;
      }
    }
  }
}
@media (max-width: 450px) {
  .AlignmentTeeth-comp {
    margin-top: 44px;
    > .container {
      display: flex;
      // grid-template-columns: 30% 1fr;
      // gap: 20px;
      flex-direction: column-reverse;
      padding: 0px 4px;
      .header {
        .container {
          gap: 30px;
          img {
            aspect-ratio: 4/3;
            width: 50%;
          }
        }
      }
      .service-display {
        .container {
          .img {
            width: 100%;
            > img {
              width: 100%;
              display: block;
              object-fit: cover;
            }
          }
          .services {
            width: 100%;
            display: grid;
            .service {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 10px;
              border-bottom: 1px dashed var(--secondary-color);
              p {
                width: min-content;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .further-details {
        .container {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
