.AlignmentTeeth-comp {
  margin-top: 44px;
}
.AlignmentTeeth-comp > .container {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 20px;
  padding: 0px 4px;
}
.AlignmentTeeth-comp > .container main section {
  margin: 50px 0px;
}
.AlignmentTeeth-comp > .container .header .container {
  gap: 50px;
}
.AlignmentTeeth-comp > .container .header .container article span {
  color: var(--secondary-color);
}
.AlignmentTeeth-comp > .container .header .container article h1 {
  font-size: 35px;
}
.AlignmentTeeth-comp > .container .header .container article p {
  color: var(--main-color);
}
.AlignmentTeeth-comp > .container .header .container img {
  border-radius: 50%;
  width: 40%;
}
.AlignmentTeeth-comp > .container .service-display .container .img {
  width: 50%;
}
.AlignmentTeeth-comp > .container .service-display .container .img > img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.AlignmentTeeth-comp > .container .service-display .container .services {
  height: 100%;
  padding: 20px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}
.AlignmentTeeth-comp > .container .service-display .container .services .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px dashed var(--secondary-color);
}
.AlignmentTeeth-comp > .container .service-display .container .services .service p {
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
}
.AlignmentTeeth-comp > .container .further-details .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.AlignmentTeeth-comp > .container .further-details .container .forms .files {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.AlignmentTeeth-comp > .container .further-details .container .forms .file a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--main-color);
  padding: 4px;
  margin: 2px 0px;
  text-decoration: none;
  font-weight: bold;
}
.AlignmentTeeth-comp > .container .further-details .container .forms .file a img {
  width: 20px;
}
.AlignmentTeeth-comp > .container .further-details .container .insurance-details > span,
.AlignmentTeeth-comp > .container .further-details .container .payment-method > span,
.AlignmentTeeth-comp > .container .further-details .container .forms > span {
  font-size: larger;
  color: var(--secondary-color);
  text-transform: uppercase;
}
.AlignmentTeeth-comp > .container .why-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.AlignmentTeeth-comp > .container .why-us .title {
  font-size: 30px;
  font-weight: bold;
}
.AlignmentTeeth-comp > .container .why-us p {
  width: 80%;
}
.AlignmentTeeth-comp > .container .why-us button {
  padding: 8px 16px;
  font-size: larger;
  background-color: var(--secondary-color);
  color: white;
}

@media (max-width: 450px) {
  .AlignmentTeeth-comp {
    margin-top: 44px;
  }
  .AlignmentTeeth-comp > .container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 4px;
  }
  .AlignmentTeeth-comp > .container .header .container {
    gap: 30px;
  }
  .AlignmentTeeth-comp > .container .header .container img {
    aspect-ratio: 4/3;
    width: 50%;
  }
  .AlignmentTeeth-comp > .container .service-display .container .img {
    width: 100%;
  }
  .AlignmentTeeth-comp > .container .service-display .container .img > img {
    width: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .AlignmentTeeth-comp > .container .service-display .container .services {
    width: 100%;
    display: grid;
  }
  .AlignmentTeeth-comp > .container .service-display .container .services .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px dashed var(--secondary-color);
  }
  .AlignmentTeeth-comp > .container .service-display .container .services .service p {
    width: -moz-min-content;
    width: min-content;
    white-space: nowrap;
  }
  .AlignmentTeeth-comp > .container .further-details .container {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=AlignmentTeeth.css.map */