*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box ;
font-family: 'Source Sans 3', sans-serif;
color: rgba(0, 0, 0, 0.9);
}

:root{
  --main-color: #2C3E50;
  --secondary-color:#3498DB;
  --background-color:#F9F7F3;
  --CTA-color:#E74C3C;
}
body{
  background: #F8F8F8;

}
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:wght@100;400;900&family=Source+Sans+3:wght@200;400;600&display=swap');

h1,h2,h3,h4,h5,h6{
  font-family: "Agbalumo", sans-serif;

}
button{
  font-family: 'roboto';
    color: var(--main-color);
    border: none;
    padding: 8px 4px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}
.container{
  max-width: 1440px;
  margin: 0px auto;
}
.flex-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
