* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  /* border: 1px solid red; */
}
p {
  font-size: 20px;
}
:root {
  --main-color: #3498db;
  --secondary-color: #185d8b;
  /* --main-color: #2c3e50;
  --secondary-color: #3498db; */
  --background-color: #f9f7f3;
  --CTA-color: #e74c3c;
  --mobile-view: 450px;
  --queued-color: #fabf13;
  --done-color: #3eb370;
  --canceled-color:#eddbd8;
}
body {
  background: #f8f8f8;
}
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:wght@100;400;900&family=Source+Sans+3:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
/*font-family: 'Ubuntu', sans-serif;*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Agbalumo", sans-serif;
}
button {
  font-family: "roboto";
  color: var(--main-color);
  border: none;
  padding: 8px 4px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 10px;
}
.flex-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 450px) {
  p {
    font-size: 14px;
  }
  .container {
    width: 100%;
    padding: 0px 10px;
  }
  .flex-2 {
    flex-direction: column;
    align-items: center;
  }
}
/* 1165 breakpoint */
